@charset "UTF-8";

/*<-----------------------------------CONFIGURAÇÕES GERAIS----------------------------------------->*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*<-----------------------------------BODY--------------------------------------------------------->*/
body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../imagens/fundo-madeira.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*<-----------------------------------CONTEÚDO----------------------------------------------------->*/
#celular{
    position: absolute;
    width: 311px;
    height: 627px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
    background-position: top center;
}
